---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <!-- <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a> -->
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tiffany Stedman Kotowski{% endif %}</h2>
          <p class="author_subtitle_heading">{% if site.about-author %}{{site.about-author}}{% else %}Right Brain Meets Left Brain.</p>
          <p class="author_subtitle">My right brain flourishes: I'm a designer, visual crafter, and idea connector.  I like to make <a href="http://tskcreative.com/lets-be-social/">turkeys</a> dance on social media.  That said, my left brain is equally engaged: I'm logical, strategic, and orderly. Bring these together and you have <span class="highlight">a powerhouse designer who can anticipate outcomes, solve problems, and digitally implement</span> (translation: I can code too).</p>  
         <p class="author_subtitle">From website planning and implementation, to graphic design and photographic direction, to social media and other visuals, I have you covered. This year, I won two design awards for <a href="http://tskcreative.com/come-work-with-us/">my video production and animation work</a>.  Always eager to gain new skills, I am wireframing and prototyping a dog-walking app for fun.</p>
          <p class="author_subtitle_heading">Creative. Strategic. Smart.</p>
          <p class="author_subtitle">I was trained in web design at the School of the Art Institute of Chicago, studied Journalism, Advertising, and Public Relations at the University of Minnesota, and mastered law at The George Washington University. In other words, I am a curious creative who loves the Oxford comma.{% endif %}</p>
        </div>
      </div>

    </div> <!-- End Section Author -->
    {% include footer.html %}
</section>
