---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tiffany Stedman Kotowski{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Artist. Designer. Animator. Producer. Digital Implementor.</p>
          <p class="author_subtitle">Tiffany is a full-time digital designer.  She is adept at managing and executing multiple projects simultaneously and engages easily in collaborative team environments.  Most recently, Tiffany has been responsible for employing consistent brand standards for digital and print, including website planning and implementation, photographic and elemental graphic direction, and crafting social media visual assets. Always eager to gain new skills, she is stretching her animation muscles and embraces new video and animation challenges.{% endif %}</p>
          <p class="author_subtitle">Creative. Strategic. Smart.</p>
          <p class="author_subtitle">Tiffany is trained in web design at the School of the Art Institute of Chicago, studied Journalism, Advertising, and Public Relations at the University of Minnesota, and mastered law at The George Washington University.</p>
          <p class="author_subtitle">TSK Creative is a showcase of the fun things that Tiffany has been up to.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>