---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tiffany Stedman Kotowski{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Welcome to TSK Creative.<br/><br/>TSK Creative is the professional corporate identity of Tiffany Stedman Kotowski: Artistic creator. Designer. Animator. Art Director. Coder. <br/><br/>Tiffany is a full-time digital designer.  She is adept at managing and executing multiple projects simultaneously and engages easily in collaborative team environments.  For several years, Tiffany has been responsible for employing consistent brand standards for digital and print, including website planning and implementation, photographic and elemental graphic direction, and crafting social media visual assets. Always eager to gain new skills, she is stretching her animation muscles and embraces new video and animation challenges.{% endif %}</p>
          <p class="author_subtitle">Thanks for visiting TSK Creative.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>