// - - - - - - - - - - Footer Styles - - - - - - - - - - //

.main_footer
  background-color: $black
.social_footer
  padding: 3rem 0
  list-style: none
  margin: 0
  text-align: center
  li
    display: inline-block
    margin-left: 0.5rem
  a
    color: #7b7b7b
    display: inline-block
    padding: 0.5rem 1rem
    margin: 0.3rem 0
    text-decoration: none
    font-size: 1.75rem
    background-color: $dark_gray
    transition: all .35s ease-in-out
    border-radius: 32px
    width: 125px
    &:hover
      background-color: $highlight
      color: $white

.copyright
  padding: 1rem 0
  text-align: center
  p
    color: $color_gray
    font-size: 0.7rem
    text-transform: none
    margin: 0
  a
    text-decoration: none
    color: $highlight
    transition: all .35s ease-in-out
    &:hover
      color: rgba($highlight, 0.75)