// - - - - - - - - - - Header Styles - - - - - - - - - - //

.main_header
  padding: 1.25rem 2rem
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $white
  box-shadow: 3px 3px 20px $shadow
  .logo
    color: $dark
    margin: 0
    font-size: 1.4rem
    text-decoration: none
    font-weight: 700
    span
      color: $highlight
      font-weight: 400
      text-transform: uppercase
  img
    height: 40px
  nav
    a
      color: $dark
      text-decoration: none
      margin-left: 2rem
      display: inline-block
      vertical-align: middle
      -webkit-transform: perspective(1px) translateZ(0)
      transform: perspective(1px) translateZ(0)
      box-shadow: 0 0 1px rgba(0, 0, 0, 0)
      -webkit-transition-duration: 0.3s
      transition-duration: 0.3s
      -webkit-transition-property: tr
    a:hover, a:focus, a:active 
      -webkit-transform: scale(1.1)
      transform: scale(1.1)
      color: $highlight
